
@import '../../styles/variables.module.scss';

.dropdown {
    z-index: 10;
    height: 100%;
    font-family: var(--font-kanit);
    button {
        cursor: pointer;
        background-color: #fff;
        border: none;
        font-size: 18px;
        color: #000;
        height: 100%;
        font-family: var(--font-kanit);
    }
    &__menu {
        position: absolute;
        min-width: 100%;
        max-width: 200px;
        margin: 0 auto;
        top: 30px;
        left: 0;
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s ease, visibility 0s linear 0.3s; 
        pointer-events: none;
        color: $dark;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid rgba(0, 0, 0, 0.15);
        border-radius: 0.25rem;
        li {
            display: block;
            font-weight: 400;
            text-decoration: none;
            button {
                text-align: start;
                width: 100%;
                padding: 10px;
                font-size: 16px;
                font-family: var(--font-kanit);
                &:hover {
                    color: red;
                }
                @media (max-width: 576px) {
                    font-size: 10px;
                    padding: 5px;
                }
            }
        }
    }
    &__item {
        text-decoration: none;
        color: $dark;
    }
}

@media (hover: hover) {
    .dropdown:hover .dropdown__menu{
        opacity: 1;
        visibility: visible;
        top: 25px;
        pointer-events: auto;
        transition-delay: 0s;
        border: 2px solid rgb(44, 7, 89);
    }
}


@media (hover: none) { 
    .dropdown_active .dropdown__menu{
        opacity: 1;
        visibility: visible;
        top: 20px;
        pointer-events: auto;
        transition-delay: 0s;
        border: 2px solid rgb(44, 7, 89);
    }
}