.logout {
    &__wrapper {
        width: 600px;
        font-size: 20px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        border-radius: 10px;
        background: linear-gradient(145deg, #c2c2c2, #a3a3a3);
        box-shadow: 0px 0px 20px black;
        text-align: justify;
        @media (max-width: 576px) {
            width: 100%;
        }
        h2 {
            @media (max-width: 576px) {
                font-size: 20px;
            }
        }
        p {
            line-height: 24px;
            @media (max-width: 576px) {
                font-size: 12px;
            }
        }
        a {
            margin-top: 5px;
            text-decoration: underline;
            &:hover {
                color: #404b41;
            }
            @media (max-width: 576px) {
                font-size: 8px;
            }
        }
    }
    &__buttons {
        display: flex;
        justify-content: space-around;
        width: 100%;
        button {
            width: 45%;
            @media (max-width: 576px) {
                font-size: 10px;
            }
        }
    }
    &__code {
        width: 90%;
        border-width: 2px;
        border-style: solid;
        padding: 20px;
        border-radius: 15px;
        background-color: #81b9a5;
        margin-top: 20px;
        font-size: 18px;
        @media (max-width: 576px) {
            font-size: 10px;
        }
    }
}
.dashboard {
    &__input {
        display: flex;
        justify-content: center;
        background-color: #edd9b4;
        border-width: 2px;
        border-radius: 10px;
        border-color: black;
        width: 75%;
        height: 30px;
        padding: 20px 10px ;
        margin: 5px 0;
        margin-top: 10px;
    }
}
